.image-gallery-slide .image-gallery-image {
  object-fit: fill;
  border-radius: 16px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 8px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  bottom: 0;
  transform: translateY(75%);
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px;
  width: 50px;
  color: black;
}
